@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: "TitilliumWeb-SemiBold";
    src: url(../fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

/* Reset de páginas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.header-flex {
    /*flex container */
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-around;
}

header {
    background-color: #0721A6;
}

header .Logo {
    width: 200px;
    height: 90px;
}

header .Barra-de-Pesquisa {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 32px;
    width: 570px;
    background-color: white;
    border: 1px solid white;
    border-radius: 30px;
}

header .img {
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

header .Pesquisa {
    width: 550px;
    height: 32px;
    padding-left: 5px;
    border-radius: 30px;
    border-style: none;
    outline: 0;
}

header .Login {
    display: flex;
    height: 22px;
    background: linear-gradient(90deg, #6AA9FF 51.19%, #4895FF 51.2%);
    width: 100px;
    justify-content: center;
    text-decoration: none;
    font-family: "Roboto-Bold";
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

header .Botão-Login {
    display: flex;
    width: 190px;
    justify-content: space-around;
    align-items: center;
}

header .Usuário {
    height: 45px;
}

header .Carrinho {
    height: 47px;
}

header .mobile-menu-icon {
    display: none;
}

header .mobile-menu {
    display: none;
}

section {
    background-color: #7389FC;
}

section .Links a {
    font-family: "Roboto-Regular";
    text-decoration: none;
    color: white;
}

section .Links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 30px;
}

main {
    background-image: url(../Imagens/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
}

.banner-info-box {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-info-box .imagem {
    height: 58vh;
}

main .banner-info-box .banner {
    height: 360px;
}

.banner-info-box .cadastre-se {
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-info-box .image {
    height: 30vh;
    padding-bottom: 20px;
}

.banner-info-box .botão {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: TitilliumWeb-SemiBold;
    font-size: 1.5rem;
    background-color: #EC1C24;
    width: 16vw;
    height: 8vh;
    border-radius: 20px;
    color: white;
}

main .carousel-inner {
    height: 60vh;
    display: flex;
    align-items: center;
}

/* CUSTOMIZAÇÃO GERAL DO BOOTSTRAP */

.container {
    max-width: 1200px;
}

/* PRODUTOS */

.produtos {
    background: linear-gradient(180deg, rgba(99, 123, 252, 0.9) 10.21%, #1A3DF3 45.1%, rgba(0, 0, 0, 1) 83.12%);
    color: white;
    padding-bottom: 50px;
}

.produtos h1 {
    font-family: "Roboto-Medium";
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.card {
    max-width: 200px;
    margin-bottom: 50px;
    background: linear-gradient(180deg, #000000 0%, #282626 100%);
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 20px #000000;
    border: 1px solid black;
}

.card .card-title {
    font-family: "Roboto-Medium";
    text-transform: uppercase;
}

.card .card-text {
    font-family: "Roboto-Medium";
}

.card .card-price {
    font-size: 1.4rem;
    font-family: "Roboto-Medium";
}

.card .btn-primary {
    background-color: #BE1E2D;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    font-family: "Roboto-Medium";
    text-transform: uppercase;
}

.card .card-img-top {
    border-radius: 15px 15px 0px 0px;
}

/* Carousel-Produtos */

.produtos-mobile {
    display: none;
    background: linear-gradient(180deg, rgba(99, 123, 252, 0.9) 10.21%, #1A3DF3 45.1%, rgba(0, 0, 0, 1) 83.12%);
    color: white;
    padding-bottom: 40px;
}

/* Rodapé */
.rodape {
    background-color: #000000;
}

.rodape .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 0.75rem;
}

.rodape .logomarca {
    width: 180px;
    height: 90px;
}

.rodape .pagamento {
    display: flex;
    width: auto;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.rodape .pagamento img {
    height: 50px;
    padding-right: 20px;
}

.rodape .pagamento h1 {
    font-family: "Roboto-Light";
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
    padding-right: 30px;
}

.rodape .pagamento .pag-img {
    display: flex;
}

.rodape .row h2 {
    width: auto;
    font-family: "Roboto-Light";
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
}

.rodape .linha {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.rodape .linha .pagamento {
    display: none;
}

.rodape .linha .institucional {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rodape .linha .institucional a {
    text-decoration: none;
    font-family: "Roboto-Light";
    font-size: 1rem;
    color: white;
}

.rodape .linha .title {
    font-family: "Roboto-Light";
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
}

.rodape .linha, p {
    font-family: "Roboto-Light";
    font-size: 1rem;
    color: white;
    margin-bottom: 0;
}

.rodape .linha img {
    height: 40px;
    padding-right: 5px;
}

.rodape .linha .whatsapp {
    display: flex;
}

.rodape .linha .redes {
    display: flex;
    flex-direction: column;
    padding-right: 65px;
}

.rodape .linha .redes img {
    padding-bottom: 5px;
}

.rodape .row p {
    display: flex;
    justify-content: center;
    font-family: "Roboto-Light";
    font-size: 0.8rem;
    color: white;
}

.rodape .row .redes {
    display: none;
}

.rodape .mobile {
    display: none;
}

/* BREAKPOINTS */
/* 
    celulares 0 - 767px
    tablets 768 - 991px
    desktop >= 992px - 1199px
    telas grandes >= 1200px - 1920px
*/

/* DESKTOP */
@media all and (max-width: 1199px) {

    .container,
    .container-grid {
        max-width: 980px;
    }
}

/* TABLETS */
@media all and (max-width: 991px) {
    header .Logo {
        width: 210px;
        margin-left: 15px;
    }

    header .Barra-de-Pesquisa {
        width: 370px;
    }

    header .Botão-Login {
        display: none;
    }

    section .Links {
        display: none;
    }

    header .mobile-menu-icon {
        display: block;
        padding-right: 1rem;
    }

    header .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    header .mobile-menu .Links {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 1rem;
        padding-top: 1.5rem;
    }

    header .mobile-menu .Links a {
        text-decoration: none;
        font-family: "Roboto-regular";
        color: white;
        margin-bottom: 20px;
        padding: 20px;
        border-left: 3px dotted white;
        font-size: 1.4rem;
    }

    header .mobile-menu .Botão-Login {
        display: flex;
        align-items: center;
        justify-content: left;
        flex-direction: row-reverse;
        width: 300px;
        height: 120px;
        margin-left: 1rem;
    }

    header .mobile-menu .Botão-Login .Login {
        height: 40px;
        width: 140px;
        font-size: 1.3rem;
        font-family: "Roboto-Bold";
        margin-left: 1rem;
        align-items: center;
    }

    header .mobile-menu .Botão-Login .Usuário {
        height: 80px;
        width: 80px;
    }

    header .mobile-menu {
        position: absolute;
        top: 90px;
        left: -80%;
        width: 80%;
        height: calc(100% - 90px);
        z-index: 100;
        opacity: 0;
        background: rgba(115, 137, 252, 0.95);
        display: block;
        padding: 20px 50px;
        transition: left 0.4s, opacity 0.5s;

    }

    .mostraEscondeMenu {
        left: 0 !important;
        opacity: 1 !important;
    }

    main {
        height: 350px;
    }

    main .banner-info-box {
        height: 40vh;
        justify-content: center;
        align-items: center;
    }

    main .banner-info-box .imagem {
        height: 380px;
    }

    main .banner-info-box .banner {
        height: 320px;
    }

    main .banner-info-box .image {
        height: 220px;
    }

    main .banner-info-box .botão {
        height: 60px;
        width: 30vw;
        border-radius: 15px;
    }

    main .carousel-inner {
        height: 350px;
        display: flex;
        align-items: center;
    }

    .produtos {
        display: none;
    }

    .produtos-mobile {
        display: block;
    }

    .produtos-mobile .carousel-inner {
        height: 420px;
        display: flex;
        align-items: center;
    }

    .produtos-mobile .carousel-inner .card {
        margin: 0 auto;
        max-width: 24vw;
    }

    .produtos-mobile .carousel-inner .card-mobile {
        display: flex;
        padding: 0 70px;
    }


    .rodape .linha .redes {
        display: none;
    }

    .rodape .row {
        padding-top: 15px;
    }

    .rodape .row .redes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .rodape .row .redes img {
        height: 40px;
        padding-right: 5px;
    }

    .rodape .row h2 {
        display: none;
    }

    .rodape .pagamento {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .rodape .linha .pagamento {
        display: none;
    }

    /* SMARTPHONES */
    @media all and (max-width: 767px) {

        .container {
            padding: 0;
        }

        .header-flex {
            height: 60px;
        }

        header .Logo {
            width: 100px;
        }

        header .Barra-de-Pesquisa {
            width: 190px;
            height: 25px;
        }

        header .Barra-de-Pesquisa .Pesquisa {
            height: 23px;
            width: 146px;
        }

        header .Barra-de-Pesquisa .img {
            width: 27px;
        }

        header .Carrinho {
            width: 33px;
            height: 33px;
        }

        header .mobile-menu-icon .icon {
            width: 30px;
            height: 30px;
            padding-left: 5px;
        }

        header .mobile-menu .Links a {
            margin-bottom: 10px;
            border-left: 2px dotted white;
            padding: 10px;
            font-size: 1rem;
        }

        header .mobile-menu {
            position: absolute;
            top: 60px;
            left: -80%;
            width: 80%;
            height: calc(100% - 60px);
            z-index: 100;
            opacity: 0;
            background: rgba(115, 137, 252, 0.95);
            display: block;
            padding: 0px 15px;
            transition: left 0.4s, opacity 0.5s;

        }

        header .mobile-menu .Botão-Login .Login {
            height: 30px;
            width: 120px;
            font-size: 1rem;
            font-family: "Roboto-Bold";
            margin-left: 1rem;
            align-items: center;
            cursor: pointer;
        }

        header .mobile-menu .Botão-Login .Usuário {
            height: 60px;
            width: 60px;
        }

        main {
            height: 250px;
        }

        main .carousel-inner {
            height: 250px;
        }

        main .banner-info-box .esconder {
            display: none;
        }

        main .banner-info-box .image {
            height: 190px;
        }

        main .banner-info-box .banner {
            height: 240px;
        }

        main .banner-info-box .botão {
            height: 40px;
            width: 45vw;
            border-radius: 10px;
            font-size: 1.3rem;
        }

        .produtos-mobile .carousel-inner {
            height: 390px;
            display: flex;
            align-items: center;
        }

        .produtos-mobile .carousel-inner .card {
            max-width: 39vw;
        }

        .produtos-mobile .card .card-title {
            font-size: 1rem;
            padding-bottom: 0;
        }

        .produtos-mobile .card .card-text {
            padding-bottom: 0;
            margin-bottom: 0.8rem;
            font-size: 0.9rem;
        }

        .produtos-mobile .card .card-price {
            font-size: 1.2rem;
            padding-bottom: 0;
            margin-bottom: 0.8rem;
        }

        .produtos-mobile .card .btn-primary {
            font-size: 1rem;
        }

        .produtos-mobile .carousel-inner .card-mobile {
            padding: 0 38px;
        }

        .produtos-mobile .carousel-inner .none {
            display: none;
        }

        .rodape .logomarca {
            width: 130px;
            height: 46px;
        }

        .rodape .row .pagamento {
            display: none;
        }

        .rodape .row .redes img {
            height: 35px;
        }

        .rodape .linha {
            display: flex;
            padding-right: 0.75rem;
        }

        .rodape .linha img {
            height: 30px;
        }

        .rodape .linha .pagamento {
            display: block;
            width: 50vw;
        }

        .rodape .linha .pagamento h1 {
            padding: 0;
        }

        .rodape .linha .title {
            font-size: 0.8rem;
        }

        .rodape .mobile .title {
            font-size: 0.8rem;
            font-family: "Roboto-Light";
            text-transform: uppercase;
            color: white;
        }

        .rodape .linha a {
            font-size: 0.7rem;
        }

        .rodape .mobile a {
            font-size: 0.7rem;
            font-family: "Roboto-Light";
            text-decoration: none;
            color: white;
        }

        .rodape .linha p {
            font-size: 0.7rem;
        }

        .rodape .row p {
            font-size: 0.7rem;
            padding-top: 15px;
        }

        .rodape .mobile p {
            font-size: 0.7rem;
            font-family: "Roboto-Light";
            margin-bottom: 0;
        }

        .rodape .linha .institucional {
            display: none;
        }

        .rodape .linha .atendimento {
            padding-right: 31px;
        }

        .rodape .mobile .institucional {
            display: flex;
            flex-direction: column;
        }

        .rodape .linha .horarios {
            display: none;
        }

        .rodape .mobile {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            padding-top: 15px;
        }
    }

}